lc-nblineage @ https://github.com/NII-cloud-operation/Jupyter-LC_nblineage/tarball/master#sha256=471f01fd787a7ccd9e48abcbc98a0be7383bd3c8b32227b3bbc384d0ddfe555f
lc_multi_outputs @ https://github.com/NII-cloud-operation/Jupyter-multi_outputs/releases/download/2.2.0.rc2/lc_multi_outputs-2.2.0.rc2.tar.gz#sha256=02ba9cfa640c19905f656bb36f9050871d2bf30ccc31a22d18715b57b6822cb3
lc_wrapper @ https://github.com/NII-cloud-operation/Jupyter-LC_wrapper/tarball/master#sha256=4ec42fe20ee7dedf475be555a533290ddd3fd472442c39ef544ae29b15c9fd4c
